/* <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> */

.ShineData {
  width: 100px;
  align-content: right;
  right: 17px;
  padding: 8px;
  position: absolute;
  color: blue;
 font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
